@import "../abstracts/variables";

#home {
  .swiper {
    &:hover {
      .swiper-button-prev {
        left: 0;
        opacity: 1;
      }

      .swiper-button-next {
        right: 0;
        opacity: 1;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    transition: all 0.3s;
    transform: translateY(calc(-50% - 16px));
    width: 44px;
  }

  .swiper-pagination-bullet {
    opacity: 1;
    background-color: #e9ecef;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--beige);
  }
}
