#nature-lodges {
  .swiper {
    &:hover {
      .swiper-button-prev {
        left: 25px;
        opacity: 1;
      }

      .swiper-button-next {
        right: 25px;
        opacity: 1;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    transition: all 0.3s;
    width: 44px;
  }
}
